@font-face {
  font-family: "Trajan Pro 3";
  src: url(./../fonts/TrajanPro3-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* font-family: 'Mulish', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
